[phases.setup]
nixPkgs = [
    'bun',
    'gcc',
    'glib',
    'pkg-config',
    'vips',
    'libvips'
]

[phases.install]
cmds = ['bun install --no-optional']

[phases.build]
cmds = ['bun run build']

[start]
cmd = "bun run start"
