# in sveltekit, PUBLIC prefix for exposed variables is mandatory
PUBLIC_SUPABASE_URL = 'https://id.supabase.co'
PUBLIC_SUPABASE_KEY = 'ey...'

# Service role MUST never be exposed to the public
SERVICE_ROLE = 'ey...'


RESEND_API_KEY = 're_...'
RESEND_API_URL = 'https://api.resend.com'