@use 'sass:color';

// Each color filled here will create a css variable exposed globally

$colors: (
  'white': rgb(239, 239, 239),
  'grey': rgb(176, 176, 176),
  'black': rgb(0, 0, 0),
  'orange': rgb(243, 146, 0),
  'blue': rgb(91, 194, 231),
  'purple': rgb(107, 31, 94),
);

:root {
  @each $name, $color in $colors {
    --#{$name}: #{$color};
    // for safari use case: https://ambientimpact.com/web/snippets/safari-bug-with-gradients-that-fade-to-transparent
    --#{$name}-transparent: #{color.change($color, $alpha: 0)};
  }
}
