:root {
  // --font-anton: 'Anton', sans-serif;
  // --font-panchang: 'Panchang', sans-serif;
  // --font-roboto: 'Roboto', sans-serif;


  --font-anton: 'Anton', sans-serif;
  --font-panchang:  sans-serif;
  --font-roboto: 'Roboto', sans-serif;
}
