name: Publish Package to NPM
on:
  push:
    branches: [main]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: cd ctw-kit && bun install && bun add -d semver

      - name: Bump version
        run: cd ctw-kit && bun run version:patch

      - name: Build
        run: cd ctw-kit && bun run build

      - name: Publish to NPM
        run: cd ctw-kit && bun x npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
